<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Deletable</h1>

      <p>
          {{aPolygons.length}} objects have been deleted in OSM but are still in the Nominatim database.
      </p>

      <table class="table table-striped table-hover">
        <thead>
          <th>Place id</th>
          <th>Country Code</th>
          <th>Name</th>
          <th>OSM id</th>
          <th>OSM type</th>
          <th>Class</th>
          <th>Type</th>
        </thead>
        <tbody>
          {{#each aPolygons}}
          <tr>
            <td>{{detailsLink this place_id}}</td>
            <td>{{country_code}}</td>
            <td>{{name}}</td>
            <td>{{osmLink this}}</td>
            <td>{{osm_type}}</td>
            <td>{{class}}</td>
            <td>{{type}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>


    </div>
  </div>
</div

