{{#*inline "partial_one_result"}}
  <div class="result" data-position="{{iResNum}}">
    {{formatMapIcon aResult}}

    <span class="name">{{aResult.display_name}}</span>
    <span class="type">({{formatLabel aResult}})</span>
    <p class="coords">{{aResult.lat}},{{aResult.lon}}</p>  

    <a class="details btn btn-outline-secondary btn-sm" href="{{detailsURL aResult}}">details</a>
  </div>
{{/inline}}

<div class="top-bar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#unless hStructured}}active{{/unless}}" data-toggle="tab" href="#simple">simple</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#if hStructured}}active{{/if}}" data-toggle="tab" href="#structured">structured</a>
    </li>
    <div class="search-type-link">
      <a href="details.html" class="mr-2">search by id</a>
      <a id="switch-to-reverse" href="reverse.html">reverse search</a>
    </div>
  </ul>
  <div class="tab-content p-2">
    <div class="tab-pane {{#unless hStructured}}active{{/unless}}" id="simple" role="tabpanel">
      <form class="form-inline" role="search" accept-charset="UTF-8" action="">
        <input id="q"
               name="q"
               type="text"
               class="form-control form-control-sm"
               placeholder="Search"
               value="{{sQuery}}" />

        <div class="form-group search-button-group">
          <button type="submit" class="btn btn-primary btn-sm mx-1">Search</button>
          <input type="hidden" name="viewbox" value="{{sViewBox}}" />
          <input type="hidden" name="dedupe" value="{{sDedupe}}" />
          <input type="hidden" name="bounded" value="{{sBounded}}" />
          <input type="hidden" name="accept-language" value="{{sLang}}" />
          <input type="hidden" name="countrycodes" value="{{sCCode}}" />
          <input type="hidden" name="limit" value="{{sLimit}}" />
          <input type="hidden" name="polygon_threshold" value="{{sPolyThreshold}}" />
        </div>
      </form>
    </div>
    <div class="tab-pane {{#if hStructured}}active{{/if}}" id="structured" role="tabpanel">
      <form class="form-inline" role="search" accept-charset="UTF-8" action="">
        <input name="street" type="text" class="form-control form-control-sm mr-1"
               placeholder="House number/Street"
               value="{{hStructured.street}}" />
        <input name="city" type="text" class="form-control form-control-sm mr-1"
               placeholder="City"
               value="{{hStructured.city}}" />
        <input id="county" name="county" type="text" class="form-control form-control-sm mr-1"
               placeholder="County"
               value="{{hStructured.county}}" />
        <input name="state" type="text" class="form-control form-control-sm mr-1"
               placeholder="State"
               value="{{hStructured.state}}" />
        <input name="country" type="text" class="form-control form-control-sm mr-1"
               placeholder="Country"
               value="{{hStructured.country}}" />
        <input name="postalcode" type="text" class="form-control form-control-sm mr-1"
               placeholder="Postal Code"
               value="{{hStructured.postalcode}}" />

        <div class="form-group search-button-group">
          <button type="submit" class="btn btn-primary btn-sm mx-1">Search</button>
          <input type="hidden" name="viewbox" value="{{sViewBox}}" />
          <input type="hidden" name="dedupe" value="{{#unless sDedupe}}0{{/unless}}" />
          <input type="hidden" name="bounded" value="{{#if sBounded}}1{{/if}}" />
          <input type="hidden" name="accept-language" value="{{sLang}}" />
          <input type="hidden" name="countrycodes" value="{{sCCode}}" />
          <input type="hidden" name="limit" value="{{sLimit}}" />
          <input type="hidden" name="polygon_threshold" value="{{sPolyThreshold}}" />
        </div>
      </form>
    </div>
    <!-- Additional options -->
    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#searchAdvancedOptions" role="button" aria-expanded="false" aria-controls="collapseAdvancedOptions">
      Advanced options
    </a>
    <div class="collapse" id="searchAdvancedOptions">
      <div id="searchAdvancedOptionsContent">
          <div class="form-check form-check-inline">
            <span><input type="checkbox" class="form-check-input api-param-setting"
                   id="use_viewbox" {{#if sViewBox}}checked="checked"{{/if}}>
            <label class="form-check-label" for="use_viewbox">apply viewbox</label></span>
            <span><input type="checkbox" class="form-check-input api-param-setting"
                   id="option_bounded" {{#if sBounded}}checked="checked"{{/if}}>
            <label class="form-check-label" for="option_bounded">bounded to viewbox</label></span>
            <span><input type="checkbox" class="form-check-input api-param-setting"
                   id="option_dedupe" {{#unless sDedupe}}checked="checked"{{/unless}}>
            <label class="form-check-label" for="option_dedupe">deduplicate results</label></span>
          </div>
          <div class="form-check form-check-inline">
            <span><label class="form-check-label" for="option_limit">Maximum number of results: </label>
            <input type="number" class="form-check-input api-param-setting" data-api-param="limit" id="option_limit" size="5" min="1" max="50" value="{{sLimit}}"></span>
            <span><label class="form-check-label" for="option_polygon_threashold">Polygon simplification: </label>
            <input type="number" class="form-check-input api-param-setting" data-api-param="polygon_threshold" id="option_polygon_threshold" size="5" min="0.0" step="0.01" value="{{sPolyThreshold}}"></span>
          </div>
          <div class="form-check form-check-inline">
            <span><label class="form-check-label" for="accept_lang">Languages: </label>
            <input type="text" placeholder="e.g. en,zh-Hant" class="form-check-input api-param-setting" data-api-param="accept-language" id="accept_lang" size="15" value="{{sLang}}"></span>
            <span><label class="form-check-label" for="option_ccode">Countries: </label>
            <input type="text" placeholder="e.g. de,gb" class="form-check-input api-param-setting" data-api-param="countrycodes" id="option_ccode" size="15" value="{{sCCode}}"></span>
          </div>
       </div>
    </div>
  </div> <!-- /tab-content -->
</div> <!-- /top-bar -->

<div id="content">

  {{#if bSearchRan}}
    <div id="searchresults" class="sidebar">
      {{#each aSearchResults as |aResult|}}
        {{>partial_one_result iResNum=@index aResult=aResult env=env}}
      {{/each}}

      {{#if aSearchResults}}
        {{#if sMoreURL}}
          <div class="more">
            <a class="btn btn-primary" href="{{sMoreURL}}">
              Search for more results
            </a>
          </div>
        {{/if}}
      {{else}}
        <div class="noresults">No search results found</div>
      {{/if}}
    </div>

  {{else}}

    <div id="intro" class="sidebar">
      <h2>Welcome to Nominatim</h2>

      <p>
        Nominatim is a search engine for
        <a href="https://www.openstreetmap.org">OpenStreetMap</a> data. This
        is the debugging interface. You may search for a name or address
        (forward search) or look up data by its geographic coordinate (reverse
        search). Each result comes with a link to a details page where you
        can inspect what data about the object is saved in the database and
        investigate how the address of the object has been computed.
      </p>

      For more information visit the
      <a href="https://nominatim.org">Nominatim home page</a>.
    </div>

  {{/if}}

  <div id="map-wrapper">
    <div id="map-position">
      <div id="map-position-inner"></div>
      <div id="map-position-close"><a href="#">hide</a></div>
    </div>
    <div id="map"></div>
  </div>
</div>
